/* https://coolors.co/palette/f4f1de-e07a5f-3d405b-81b29a-f2cc8f */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,400;1,700&display=swap");

:root {
	--color-main-light: #fcfbf6;
	--color-main: #f4f1de;
	--color-main-dark: #d7d5c8;
	--color-bg-medium: #3d405b;
	--color-bg-light: #575b80;
	--color-bg-text: #9ea0bb;
	--color-bg-dark: #2d2f42;
	--color-success: #81b29a;
	--color-error: #e07a5f;
	--color-accent: #f2cc8f;

	--border-radius: 15px;
}

a,
button,
p {
	all: unset;
}

a {
	transition: 0.2s ease-in-out;
}

a:hover {
	cursor: pointer;
}

h3 {
	font-size: 1.1rem;
	font-weight: 700;
	padding: 0;
	margin: 0;
	margin-bottom: 0.5rem;
}

body {
	font-family: "Roboto", sans-serif;
	margin: 0;
	background-color: var(--color-bg-dark);
	color: var(--color-main-light);
	font-size: 12pt;
	height: 100vh;
}

header {
	padding: 1rem 1.5rem;
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	align-items: center;
	background-color: var(--color-bg-medium);
}

header .logo {
	margin: 0;
	padding: 0;
	font-size: 2.5rem;
	font-weight: 600;
	display: flex;
	align-items: center;
}

header form {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

header form label {
	padding: 1rem;
	width: inherit;
	box-sizing: border-box;
	border-radius: var(--border-radius);
	border: 0;
	background-color: var(--color-bg-light);
	display: flex;
}

header form svg {
	stroke: var(--color-main-light);
}

header form input {
	border: 0;
	background-color: transparent;
	padding: 0 1rem;
	color: var(--color-main-light);
	outline: none;
	width: inherit;
}

header form input::placeholder {
	font-style: italic;
	color: var(--color-main-dark);
}

header .user {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin: 0 1rem;
}

header .user img {
	width: 4rem;
	height: 4rem;
	border: 3px solid var(--color-main);
	border-radius: 50%;
	background-color: var(--color-main);
}

header .user a {
	margin-left: 10px;
	font-weight: 700;
}

main {
	display: grid;
}

main.home {
	grid-template-columns: 1fr 3fr 1fr;
}

main.room {
	grid-template-columns: 3fr 1fr;
}

nav {
	padding: 1.5rem;
	background-color: var(--color-bg-medium);
	height: 100%;
	border-bottom-right-radius: 25px;
	max-width: max-content;
}

nav h3 {
	color: var(--color-bg-text);
}

nav .topic {
	padding: 0.5rem 0;
}

nav .topic:hover {
	font-weight: 700;
	color: var(--color-accent);
}

section {
	padding: 1rem;
	display: flex;
	flex-direction: column;
}

a.btn {
	color: var(--color-bg-dark);
	padding: 1rem;
	font-weight: 700;
	background-color: var(--color-success);
	border-radius: var(--border-radius);
	display: flex;
	flex-direction: row;
	align-items: center;
}

a.btn-edit {
	background-color: var(--color-main-dark);
}

a.btn-delete {
	background-color: var(--color-error);
}

a.btn:hover {
	background-color: var(--color-accent);
}

a.btn svg {
	margin-right: 0.25rem;
}

.btn-small {
	font-size: 0.75rem;
	padding: 0.5rem 0.75rem !important ;
	margin-right: 0.25rem;
	font-weight: 300 !important;
}

.btn-small svg {
	stroke-width: 1;
	height: 0.75rem;
	width: 0.75rem;
	padding: 0;
}

.room-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.room-header h3 {
	margin-bottom: 0;
}

.room-header p {
	font-weight: 300;
	font-size: 0.85rem;
	color: var(--color-bg-text);
}

.room {
	margin: 1rem 0;
	background-color: var(--color-bg-medium);
	border-radius: var(--border-radius);
	padding: 0.5rem 1rem;
	display: flex;
	flex-direction: column;
}

.room .room-controls {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.room-name {
	padding: 0.5rem 0;
	font-weight: 700;
	font-size: 1.5rem;
}

.room-details {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	padding-bottom: 0.5rem;
}

.user-handle {
	font-style: italic;
	color: var(--color-accent);
	padding: 0.5rem 0;
}

.room-topic {
	font-weight: 300;
	font-style: italic;
}

.activity-container {
	margin: 0.25rem 0;
	border-radius: var(--border-radius);
	background-color: var(--color-bg-medium);
	padding: 0.5rem;
}

.activity-message-data {
	font-size: 0.75rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.time-ago {
	font-weight: 100;
	font-size: 0.6rem;
	font-style: italic;
}

.activity-message-feed {
	display: flex;
	flex-direction: column;
}

.room-name-activity {
	font-size: 1rem;
	padding-top: 0;
}

.room-message {
	font-size: 0.8rem;
	margin-bottom: 0.5rem;
	color: var(--color-main-dark);
}
