{% extends "main.html" %}
{% block content %}
    <main>
        {% include "base/topics_component.html" %}
        <form action="" method="post" class="delete-wrapper">
            {% csrf_token %}
            <div class="delete-conent">
                <p>Are you sure you want to delete?</p>
                <p class="quote">{{ obj }}</p>
            </div>
            <div class="buttons">
                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-delete">Go back</a>
                <input type="submit" value="Confirm" / class="btn">
            </div>
        </form>
        {{ room }}
        {% include "base/activity_component.html" %}
    </main>
{% endblock content %}
