{% extends "main.html" %}
{% block content %}
    <main class="home">
        <section class="topics">
            {% include "base/topics_component.html" %}
        </section>
        <section class="chatrooms">
            <p>{{ rooms_count }} rooms available</p>
            <a href="{% url 'create-room' %}">Create Room</a>
            {% include "base/feed_component.html" %}
        </section>
        <section class="feed">
            {% include "base/activity_component.html" %}
        </section>
    </main>
{% endblock content %}
