{% extends "main.html" %}
{% block content %}
    <main>
        {% include "base/topics_component.html" %}
        <section>
            <form action="" method="post" class="form"  enctype='multipart/form-data'>
                {% csrf_token %}
                {{ form.as_div }}
                {% comment %} {% for field in form %}<span class="form-field">{{ field }}</span>{% endfor %} {% endcomment %}
                <input type="submit" value="Submit" class="btn" />
            </form>
        </section>
        {% include "base/activity_component.html" %}
    </main>
{% endblock content %}
